# Build outputs
**/bin/
**/obj/
**/out/
**/publish/

# IDE / VCS
**/.vs/
**/.vscode/
**/.idea/
**/.git/
**/.gitignore
**/*.user

# Docs & tooling not needed in the image
**/*.md
postman/
tests/

# Local env files
**/*.env
docker-compose*.yml
Dockerfile
.dockerignore
